 #div-containing-header {
    padding: 5% 10%;
 }

 #div-dropdown-row {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-bottom: 3%;
 }

 /* Este estilo se ha movido al component progress-circle */
 /* #contain-image {
    height: 40%;
    width: 40%;
 } */

 #move-row {
    padding-top: 15px;
    padding-left: 15px;
 }

 #dropdown-menu-elements {
     width: 100%;
 }

 #dropdown-menu-button {
     padding-left: 5%;
 }

 #elements-inside-dropdown {
     text-align: center;
     width: 290px !important;
     padding: 20px !important;
 }

 #accordion-design {
     margin-bottom: 3%;
 }
 /* .gray-body {
    background-color: #ebebeb;
} */

.white {
    background-color: white;
}

 /* -------------------------- */

.food {
    margin: 15px 0 3px 0;
    padding-top: 15px;
}

.circle {
    background-color: grey;
    border-radius: 50%;
    color: aqua;
    height: 30px;
    padding: 3px 0;
    width: 30px;
}

.ranked {
    color: white;
    font-size: 13px;
    text-align: center;
}

.name {
    font-size: 13px;
    padding: 3px 0;
}

.follow {
    padding: 5% 4%;

}

.inside-follow {
    padding: 3% 0;
    border: 0;
}

 header {
     font-size: 20px;
     font-weight: bold;
 }

 main {
     font-size: 12px;
 }

 /* ¡¡¡¡Estos estilos se ha movido al component progress-circle!!!!! */
 /* Cirle with hamburguer style */
 /* .pie-wrapper {
    height: 1em;
    width: 1em;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(to right, var(--bg-color) 50%, var(--cover-color) 50%);
    }
    .pie-wrapper .label {
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.6em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
    }
    .pie-wrapper .label .smaller {
    color: #bdc3c7;
    font-size: .45em;
    padding-bottom: 20px;
    vertical-align: super;
    }
    
    .pie-wrapper:before {
    border-radius: 0 100% 100% 0%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    background: #f86a5a;
    transform: rotate(var(--rotation));
    }
    
    .charts-container{
        font-size: 5em;
    } */
 
    /* Clases de Carlos */

    .dish-details, .container-fluid {
        height: 100%;
        width: 100%;
    }
    
    .restaurant-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
    }
    
    .google-map{
        width: 100%; 
        height: 100%; 
        border: 0;
    }
    
    .restaurant-image span {
        left: 20px;
        position: absolute;
        color:white;
        text-shadow:
            -1px -1px 0 black,
            -1px 1px 0 black,
            1px -1px 0 black,
            1px 1px 0 black,
            -1px 0px 0 black,
            0px 1px 0 black,
            1px 0px 0 black,
            0px 1px 0 black;
    }
    
    .restaurant-name {
        top: 5px;
    }
    
    .restaurant-line-1 {
        font-size: 12px;
        top: 25px;
    }
    
    .restaurant-line-2 {
        font-size: 12px;
        top: 40px;
    }
    
    .yelp-link {
        font-size: 12px;
        bottom: 5px;
    }

    /* Clases de Mike */
    .detail-name {
        margin-bottom: 0;
        padding-bottom: 0; 
    }

    .detail-rating {
        margin-bottom: 0;
        padding-bottom: 0;
        color: #C0C0C0;
    }

    .detail-price {
        color: #C0C0C0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .detail-address {
        padding-bottom: 0;
        margin-bottom: 0;
        color: #C0C0C0;
    }

    .detail-direction {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .detail-contact {
        background-color: #ebebeb
     }
    
    .detail-available {
        color: green;
        padding-top: 7px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .detail-telephone {
        color: blue;
        padding-top: 0;
        margin-bottom: 7px;
    }
    
    .detail-email {
        color: blue;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    
    .detail-next {
        color: grey;
        font-size: 15px;
        padding-left: 12px;
        padding-top: 35px;
    }

    .blue {
        background-color: lightskyblue !important;
    }

    .orange {
        background-color: #fe5240 !important;
    }
    
    .circled {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 0;
        text-align: center;
        line-height: 25px;
        vertical-align: middle;
        font-size: 14px;
        display: inline-block;
        background-color: black;
        color: white;
    }