<div class="dropdown" id="div-containing-header">
  <button id="inside-dropdown-button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    American
  </button>
  <div class="dropdown-menu" id="dropdown-menu-width">
    <a class="dropdown-item" id="elements-inside-dropdown" href="#">Link 1</a>
    <a class="dropdown-item" id="elements-inside-dropdown" href="#">Link 2</a>
    <a class="dropdown-item" id="elements-inside-dropdown" href="#">Link 3</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row food">
    <div class="col-1 offset-1 circle">
      <p class="ranked">1</p>
    </div>
    <div class="col-9">
      <p class="name">All-American Bacon Cheese Burger</p>
    </div>
  </div>

</div>