<div class="container">
  <div class="white">
  <div class="dropdown" id="div-containing-header">
    <div class="row border-bottom-1" id="div-dropdown-row">
      <button id="inside-dropdown-button" type="button" class="btn btn-primary dropdown-toggle col-5" data-toggle="dropdown">
        {{journey?.name}}
      </button>
      <div class="dropdown-menu">
        <div *ngFor="let journey of viajes; let i = index">
          <a class="dropdown-item" id="elements-inside-dropdown" [routerLink]="['../', journey?.name ]">
            {{journey?.name}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="move-row">
    <div class="col-3">
      <app-progress-circle [bgColor]="'#cb3729'" [coverColor]="'#fe5140'" [progress]="progress" [iconUrl]="journey?.iconUrl" ></app-progress-circle>
    </div>
    <div class="col-9">
      <header>
        {{journey?.name}}
      </header>
      <main>
        {{journey?.description}}
      </main>
    </div>
  </div>
  <div class="row follow ">
      <button class="col-6 btn"> {{journey?.duration}} </button>
      <button class="col-6 inside-follow blue" *ngIf="progress >= 100">
          Completed!
      </button>
      <button class="col-6 inside-follow" *ngIf="100 > progress"
              [ngClass]="user?.currentJourney === journey?.name ? 'blue' : 'orange'" 
              (click)="setCurrentJourney(journey?.name)"> 
          {{user.currentJourney === journey?.name ? 'Following' : 'Follow'}} 
      </button>
  </div>
</div>


      <div *ngFor="let journeys of journey?.dish; let i = index">
        <accordion>
          <accordion-group id="accordion-design">
              <div accordion-heading class="clearfix" (click)="getDishDetail(journey?.name,i)">
                  <span class="circled" *ngIf="!user?.journeys[journeyId][i]">{{(1 + i)}}</span>
                  <span class="circled blue" *ngIf="user?.journeys[journeyId][i]">&#10003;</span> 
                  {{journey?.dish[i]}}
                </div>
              <div *ngIf="!loading[i]">
                Loading, please wait...
              </div>  
              <div class="row detail" *ngIf="loading[i]">
                    <div class="col-6">
                      <p class="detail-name" [routerLink]="['./', journey?.dish[i]]">{{res[i]?.name}}</p>
                      <p class="detail-rating"><img [src]=[getYelpStars(i)]></p>
                      <p class="detail-address"> {{res[i]?.review_count}} reviews</p>
                      <p class="detail-price">{{ res[i]?.price }} - {{ res[i]?.categories[0].title }}</p>
                      <p class="detail-address">{{res[i]?.location.address1}}</p>
                      <p class="detail-direction">{{res[i]?.location.city}}</p>
                    </div>
                
                    <div class="col-6 detail-contact">
                      <p class="detail-available">Open Now</p>
                      <p class="detail-phone" *ngIf="res[i]?.phone.length > 0">{{res[i]?.phone}}</p>
                      <p class="detail-email">www.google.com</p>
                    </div>
              </div>
          </accordion-group>
        </accordion>
      </div>
</div>