<div class="dropdown row" id="div-containing-header">
  <button id="inside-dropdown-button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    American
  </button>
  <div class="dropdown-menu" id="dropdown-menu-width">
    <a class="dropdown-item" id="elements-inside-dropdown" href="#">Link 1</a>
    <a class="dropdown-item" id="elements-inside-dropdown" href="#">Link 2</a>
    <a class="dropdown-item" id="elements-inside-dropdown" href="#">Link 3</a>
  </div>
</div>

<div class="row" id="move-row">
  <div class="col-4" >
    <img id="contain-image" src="https://i.pinimg.com/736x/62/a4/7d/62a47d8e4ab364cf476f25a473b23c75--hawaiian-flowers-lotus-flowers.jpg">
  </div>
  <div class="col-8">
    <p>
      
    </p>
  </div>
</div>