<div class="container-fluid" id="header">
    <div id="navigation">Journeys / American</div>
    <div id="dish-title">
      <div id="dish-name"> 1 {{journeylist[0].dish[0]}}</div>
      <!-- <div id="dish-status">{{this.user.journey[0][0] ? 'COMPLETED' : ''}}</div> -->
    </div>
</div>
<div class="container-fluid" id="dish-details" *ngIf="!loading">
  <div class="row">
      <div class="col-6 text-left" id="restaurant-info"> 
        <div id="restaurant-img"><img [src]=[this.rest.image_url]></div>
        <span id="restaurant-name">{{ this.rest.name }}</span>
        <span id="restaurant-line-1"><img [src]=[getYelpStars()]> {{ this.rest.review_count }} reviews</span>
        <span id="restaurant-line-2">{{ this.rest.price }} - {{ this.rest.categories[0].title }}</span>
        <span id="yelp-link"><a [href]="'https://www.yelp.com/biz_photos/'+[this.rest.id]">See more photos on Yelp</a></span>
      </div>
      <div class="col-6 text-right">
        <iframe id="google-map" [src]="[this.rest.gmapsurl] | safe"></iframe>
      </div>
  </div>
  <div class="row" id="description">
    <div class="col-12">
      <span><b>Instructions:</b></span>
      <span>Order the Cheeseburger!</span> <br>
      <span>A cheeseburger is a hamburger topped with cheese. Traditionally, the slice of cheese is placed on top of the meat patty, but the burger can include many variations in structure, ingredients, and composition. The cheese is normally added to the cooking hamburger patty shortly before serving, which allows the cheese to melt.</span>
    </div>
  </div>
  <div id="hours-container" class="row">
    <div class="col-6">  
      <span id="restaurant-hours"><b>Today:</b> 8:00 AM - 9:00 PM</span><br>
      <span id="is-open" [style.color]="this.rest.is_closed ? 'red' : 'green'"><b></b> {{this.rest.is_closed ? 'Closed now' : 'Open now'}}</span>
    </div>
    <div id="phone-website" class="col-6">
      <span *ngIf="this.rest.phone.length > 0"><b>Phone:</b> {{this.rest.phone}}<br></span>
      <span><b>Website:</b> www.google.com</span><br>
    </div>
  </div>
  <div class="row" *ngIf="loadingReview">
    <div class="col-5 text-right" id="review-img">
      <img [src]=[this.review.reviews[0].user.image_url]>
    </div>
    <div class="col-7" id="review-text">
      <span>" {{ this.review.reviews[0].text }} "</span>
    </div>
  </div>
</div>
<div class="container-fluid" id="footer">
  <div class="orange" id="complete button" (click)="this._userService.updateProgress(0, 0)">Mark Completed</div>
</div>