:host {
  /* Permits the swipe event to be inside the component when its height is smaller that the screen height. */
  display: block;
  min-height: 100%;
}

#header {
    position: sticky;
    top: 56px;
    padding: 0;
    padding-bottom: 10px;
    z-index: 100;
}

#letter-color {
    color: gray;
}

#footer {
    position: fixed;
    bottom: -1px;
    left: 0px;
    right: 0px;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#loading-message {
    position: fixed;
    bottom: 50%;
    text-align: center;
    font-size: 20px;
}

#navigation {
    background-color: lightgray;
    padding: 10px;
}

#dish-title {
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left:10px;
}

#dish-name {
    font-size: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#description {
    padding-top: 10px;
}

#instructions {
    font-size: 20px;
}

#google-map {
    width: 43vw;
    height: 43vw;
    border: 0;
    box-shadow: 0px 3px 3px lightgrey;
}

#restaurant-img {
    max-height: 43vw;
    max-width: 43vw;
    overflow: hidden;
    box-shadow: 0px 3px 3px lightgrey;
}

#restaurant-img img {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}

#restaurant-info span {
    left: 20px;
    position: absolute;
    color:white;
    text-shadow:
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black,
        -1px 0px 0 black,
        0px 1px 0 black,
        1px 0px 0 black,
        0px 1px 0 black;
}

#restaurant-name {
    top: 5px;
}

#restaurant-line-1 {
    font-size: 12px;
    top: 25px;
}

#restaurant-line-2 {
    font-size: 12px;
    top: 43px;
}

#yelp-link {
    font-size: 12px;
    bottom: 10px;
}

#review-img {
    overflow: hidden;
}

#review-img img{
    width: 30vw;
    height: 30vw;
    display: inline-block;
    object-fit: cover;
}

#hours-container {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
}

#phone-website {
    border-left: 2px solid whitesmoke;
    color: blue;
}

#phone-website b {
    color: black;
}

.blue {
    background-color: lightskyblue !important;
}

.circled {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    font-size: 14px;
    display: inline-block;
    background-color: black;
    color: white;
}

#spacer {
    padding-top: 36px;
}
