#title {
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
}

#subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}


.principal {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 20px;
}

.secondary {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.country {
    color: white;
    font-size: 20px;
    /* padding-left: 20px; */
    padding-top: 40px;
    margin-bottom: 0;
}

.percentage {
    color: gray;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 0;
    padding-bottom: 10px;
}

.icon {
    padding-top: 40px;
    text-align: right;
}

.description {
    padding-top: 30px;
}

.duration {
    padding-bottom: 30px;
}
