/* TODO: title, subtitle not used, remove */
#title {
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
}

#subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}


.principal {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 20px;
}

.secondary {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}


/* Override track BS card round border. */
.card {
  border-radius: 0;
}
