<div class="container-fluid">

  <h1>Welcome!</h1>
  <h1>Choose a track to get started.</h1>
  
  <div class="american">
    <!-- Icon of a burger -->
    <p>American</p>
    <p>One characteristic of American cooking is the fusion of multiple ethnic or regional approaches into completely new cooking style.</p>
    <p>Duration: 3 weeks</p>
  </div>

  <div class="italian">
    <!-- Icon of a burger -->
    <p>Italian</p>
    <p>An Italian meal is famous for its structure into several sections: the appetiser, pasta or rice dish, a meat course and dolce dessert.</p>
    <p>Duration: 1 week</p>
  </div>

  <div class="mexican">
    <!-- Icon of a burger -->
    <p>Mexican</p>
    <p>Known for its varied flavours and spices, the food of Mexico is a result of the Spanish conquistadores' interaction with the Aztec culture.</p>
    <p>Duration: 2 weeks</p>
  </div>

  <div class="japanese">
    <!-- Icon of a burger -->
    <p>Japanese</p>
    <p>In 2014, 14 restaurants in Tokyo and Shonan maintain a Michelin three-stars rating, the ultimate international recognition in the culinary world.</p>
    <p>Duration: 3 weeks</p>
  </div>

</div>