<a [routerLink]="['./' + journey?.name]">
  <app-progress-box [value]='(checkProgress(journey?.name)*10)'>
    <div class="row row-title justify-content-center align-items-end mx-auto">
      <div class="col-2 text-center">
        <img class="icon" [src]="journey?.iconUrl" [alt]="journey?.name" />
      </div>

      <div class="col-6 text-left">
        <span class="country h4 d-block"> {{journey?.name}}</span>
      </div>
    </div>
    <div class="row row-percentage justify-content-center align-items-start">
      <span class="col percentage h5 d-block text-center">
        {{checkProgress(journey?.name) / 10 | percent}}
      </span>
    </div>
  </app-progress-box>
</a>
<div class="card-body">
  <p class="description">{{journey?.description}}</p>
  <p class="duration font-weight-bold">Duration: {{journey?.duration}}</p>
</div>
