<app-progress-box [value]="(track.unitsCcompleted / track.unitsTotal) * 100">
  <div class="row row-title justify-content-center align-items-end mx-auto">
    <div class="col-2 text-center">
      <img class="icon" [src]="track.iconUrl" [alt]="track.title" />
    </div>

    <div class="col-6 text-left">
      <span class="country h4 d-block">{{track.title}}</span>
    </div>
  </div>
  <div class="row row-percentage justify-content-center align-items-start">
    <span class="col percentage h5 d-block text-center">{{track.unitsCcompleted / track.unitsTotal | percent}}</span>
  </div>
</app-progress-box>

<div class="card-body">
  <p class="description">{{track.description}}</p>
  <p class="duration font-weight-bold">Duration: {{track.duration}}</p>
</div>
