<div *ngIf="!isLoggedIn">
  <input class='form-control' placeholder='Email or Username' type='text' [(ngModel)]='username'>
  <input class='form-control' placeholder='Password' type='password' [(ngModel)]='password'>

  <button class='btn form-control btn-primary' (click)='loginUser(username, password)'>Login</button>
  <p> or log in with </p>
  <div class='row' align='center'>
    <a class='offset-1 col-3' href="https://www.facebook.com">
      <img class='' src="/assets/icons/fb_icon.png">
    </a>
    <a class='col-4' href="https://www.twitter.com">
      <img class='' src="/assets/icons/twitter_icon.png">
    </a>
    <a class='col-3 push-1' href="https://www.googleplus.com">
      <img class='' src="/assets/icons/gplus_icon.png">
    </a>
  </div>
</div>

<div *ngIf="isLoggedIn" class="d-flex flex-column">
  <div class="my-account-btn">
    <a class="btn btn-light btn-block" [routerLink]="['./']">My Account</a>
  </div>
  <div class="">
    <a class="btn btn-light btn-block" [routerLink]="['./']" (click)="logoutUser()">Logout</a>
  </div>
</div>
