:host {
  display: block;

  /* Custom style the login box. */
  border-style: groove;
  background-color: white;
  padding: 20px;
  margin: 3px;
}

button {
  margin-bottom: 5px;
}

input {
  margin-bottom: 5px;
}

.background {
  background-color: #fc634b;
  color: white;
}

p {
  text-align: center;
}


