/* .container-fluid {
    position: relative;
    height: 100%;
} */
.home-header{
    height: 90%;
    text-align: center;
    padding-top: 25%;
    position: relative;
    background-image: url("/assets/images/home_header_background.png");
    background-size: cover;
    background-position-x: 50%;
}

    .home-header h1{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .home-header p{
        padding-left: 5%;
        padding-right: 5%;
    }

    .home-header .btn{
        padding: 3% 15%;
        box-shadow: 1px 3px 5px #444;
    }

    .home-header-description *{
        margin-bottom: 20%;
    }

.down{
    background-color: rgba(0,0,0,0.3);
    padding: 3%;
    color: #FFF;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

h4 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.btn-primary {
    position: relative;
    left: 20%;
    right: 20%;
    border-radius: 0%;
    background-color: #fd6914 !important;
    border-color: #fd6914 !important;
    padding: 10px 55px 10px 55px;
    box-shadow: 4px 4px 18px #888888;
    margin-bottom: 120px;
}

.down {
    padding: 10px 0 10px 0;
    opacity: 0.6;
    background-color: #000000;
    font-size: 15px;
    color: white;
    text-align: center;
    clear: none;
}

.paragraph {
    color: #d6d6c2;
}

footer {
    background-color: aliceblue;
    padding: 20px;
} */