<section class="home-header d-flex justify-content-center">
  <div class="home-header-description align-self-center">
      <h1>Challenge Yourself</h1>
      <p>
        FoodieJournal makes it easy for you to embark on a journey to discover new cuisines.
      </p>
  
      <!-- Must redirects to Path Selection -->
      <a [routerLink]="tracks" class="btn btn-primary">Get Started</a>
  </div>   
  <div class="down" (click)="scroll(middle)">
    Discover More <i class="fas fa-chevron-down"></i>
  </div>
</section>
<section #middle class="home-discover">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-4 item-discover text-center">
            <div class="orange circle-icon-container">
              <div class="icon-container">
                  <img src="/assets/icons/fork_and_spoon.svg" alt="top international cuisines">
              </div>        
            </div>
            <p>Explore the top 5 international cuisines and follow cuisine journeys</p>
          </div>
      
          <div class="col-xs-12 col-md-4 item-discover text-center">
            <div class="orange circle-icon-container">
              <div class="icon-container">
                  <img src="/assets/icons/directions.svg" alt="top international cuisines">
              </div>        
            </div>
            <p>Receive restaurant recommendations based on your preferences and locations</p>
          </div>
      
          <div class="col-xs-12 col-md-4 item-discover text-center">
            <div class="orange circle-icon-container">
              <div class="icon-container">
                  <img src="/assets/icons/done.svg" alt="top international cuisines">
              </div>        
            </div>
            <p>Complete challenges and track your progress against your selected cuisine journey </p>
          </div>
        </div>
  </div>
  
</section>
<footer>
  <p> Developed by </p>
  <div class="logos">
      <img src="/assets/images/aowp-logo.png" width="50px">
      <img src="/assets/images/accenture-logo.png" width="65px">
  </div>  
</footer>
