<div class="container-fluid" >
  <h1 class="">Challange Yourself</h1>
  <h4 class="">FoodieJournal makes it easy for you to embark on a journey to discover new cuisines.</h4>
  <button class="btn btn-primary">Get Started</button>
  <img src="" alt="">
  <div class=""><span class="glyphicon glyphicon-chevron-down"></span></div>
  <div class="down"><span class="">Discover More</span></div>
  <div class="">
    <!-- Background from an image  -->
    <img src="" alt="">
    <!-- Icon -->
    <h4>Explore the top 5 international cuisines and follow cuisine journeys</h4>
    <!-- Icon -->
    <h4>Receive restaurant recommendations based on your preferences and location</h4>
    <!-- Icon -->
    <h4>Complete challanges and track your progress against your selected cuisine journey</h4>
  </div>
  <footer>
    <h4 class='paragraph'>Developed by</h4>
    <!-- Images or icons from awop and accenture -->
  </footer>
</div>