<nav class="navbar navbar-expand-md navbar-dark fixed-top orange">
    <button *ngIf="userLogged" class="navbar-toggler hamburger-menu-btn" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" id="color">Foodie Journal</a>
    <a id="btn-login" class="btn-primary" (click)="toggleShowLogin()">{{ userLogged ? 'Hi, ' + userName : 'Login' }}</a>

    <div *ngIf="userLogged" class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
      </ul> 
    </div>
  </nav>

  <app-login *ngIf="showAccountLogin" 
  (loginSuccess)="updateAccountPanel()"
  (logoutSuccess)="updateAccountPanel()">
  </app-login>
  <router-outlet></router-outlet>
